extends layout

block content

    h1= title
    p You can #{title} via any of the following channels.
    p Email: busariadams@gmail.com
    p Phone number : +234 916 325 1204
    p Office Address: No 99, Developer Street.